{% extends 'base.html' %}

{% block titulo %}
    Dashboard - FastBuy
{% endblock %}

{% block conteudo %}
    <div class="container dashboard">
        {% if mensagem %}
            <div id="message-container" class="alert alert-success" style="display: block;">
                {{ mensagem }}
            </div>
        {% endif %}

        <!-- Menu Superior -->
        <section>
            <ul class="user_infos">
                <li>
                    <a href="#" data-page="perfil" class="active">Perfil</a>
                </li>
                <li>
                    <a href="#" data-page="compras">Minhas Compras</a>
                </li>
                <li>
                    <a href="#" data-page="anuncios">Meus Anúncios</a>
                </li>
            </ul>
        </section>

        <div id="conteudo-dinamico">

        </div>
    </div>


{% endblock %}