{% extends 'base.html' %}

{% block titulo %}
    Editar Anúncio - FastBuy
{% endblock %}

{% block conteudo %}
    <h2>Editar Anúncio</h2>
    <form method="POST">
        <div>
            <label for="nome_produto">Nome do Produto:</label>
            <input type="text" id="nome_produto" name="nome_produto" value="{{ anuncio[1] }}" required>
        </div>

        <div>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required placeholder="Descreva o produto" class="input-field" maxlength="1500" oninput="atualizarContador()">{{ anuncio[2] }}</textarea>
        </div>

        <div>
            <label for="preco">Preço:</label>
            <input type="text" id="preco" name="preco" required placeholder="Digite o preço do produto" class="input-field" oninput="formatarPreco(this)" value='R$ {{ "{:,.2f}".format(anuncio[3]) }}'>
        </div>

        <input type="submit" value="Salvar Alterações">
    </form>
{% endblock %}
