{% extends 'base.html' %}

{% block titulo %}
    Produtos - FastBuy
{% endblock %}

{% block conteudo %}
    <section class="search_produtos">
        <form action="{{ url_for('buscar_produtos') }}" method="get">
            <input type="text" name="q" placeholder="Busque seu produto..." value="{{ request.args.get('q', '') }}">
            <button type="submit">
                <img src="{{ url_for('static', filename='images/search.png') }}" alt="search" class="search-icon">
            </button>
        </form>
    </section>
    <div class="title_produtos">
        <h2 style="margin: 10px 0;">Explore e aproveite</h2>
        <img src="{{ url_for('static', filename='images/buy2.png') }}" alt="buy icon" style="width: 40px;">
    </div>
    <section id="produtos">
        {% for item in itens %}
            <article class="produto">
                <a href="{{ url_for('produto', produto_name=item[1], username=item[5]) }}">
                    <div class="produto_top">
                        <h2>{{ item[1] }}</h2>
                        <img src="{{ item[4] }}" alt="{{ item[1] }}" />
                    </div>
                    <div class="produto_info">
                        <p class="preco">R$ {{ "{:,.2f}".format(item[3]) }}</p>
                        <p class="vendedor"><strong>Vendedor:</strong>
                            {% if item[5] %}
                                <a href="{{ url_for('page_perfil', username=item[5]) }}">{{ item[5] }}</a>
                            {% else %}
                                <span>Sem vendedor</span>
                            {% endif %}
                        </p>
                    </div>
                </a>
                <div class="likes-dislikes">
                    <form action="{{ url_for('like', produto_id=item[0]) }}" method="post">
                        <button type="submit">👍 {{ item[6] }}</button>
                    </form>
                    <form action="{{ url_for('dislike', produto_id=item[0]) }}" method="post">
                        <button type="submit">👎 {{ item[7] }}</button>
                    </form>
                </div>
            </article>
        {% endfor %}
    </section>

    <!-- Controles de Paginação -->
    <div class="paginacao">
        {% if pagina > 1 %}
            <a href="{{ url_for('page_produto', page=pagina-1) }}" class="botao-paginacao">Anterior</a>
        {% endif %}

        {% for p in range(1, total_paginas + 1) %}
            {% if p == pagina %}
                <span class="pagina-atual">{{ p }}</span>
            {% else %}
                <a href="{{ url_for('page_produto', page=p) }}" class="botao-paginacao">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if pagina < total_paginas %}
            <a href="{{ url_for('page_produto', page=pagina+1) }}" class="botao-paginacao">Próximo</a>
        {% endif %}
    </div>
{% endblock %}