{% extends 'base.html' %}

{% block titulo %}
    Produtos - FastBuy
{% endblock %}

{% block conteudo %}
    <h2>Lista de Produtos</h2>
    <section id="produtos">
        {% for item in itens %}
            <article class="produto">
                <h2>{{ item[1] }}</h2>
                <img src="{{ item[4] }}" alt="{{ item[1] }}" />
                <p><strong>Preço:</strong> R$ {{ "{:,.2f}".format(item[3]) }}</p>
                <p>{{ item[2] }}</p>
                <p><strong>Vendedor:</strong> {{ item[5] }}</p>

                <div class="likes-dislikes">
                    <form action="{{ url_for('like', produto_id=item[0]) }}" method="post">
                        <button type="submit">👍 {{ item[6] }}</button>
                    </form>
                    <form action="{{ url_for('dislike', produto_id=item[0]) }}" method="post">
                        <button type="submit">👎 {{ item[7] }}</button>
                    </form>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
